body {
  overflow-x: hidden;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e528e), color-stop(50%, #728a7c), to(#e9ce5d));
  background-image: linear-gradient(to bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%);
  height: 100vh;
  overflow: hidden;
}

.success {
  background: #52c234;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #061700, #52c234);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #061700, #52c234);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gameOver {
  background: #200122;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #6f0000, #200122);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #6f0000, #200122);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#Game #ChickensContainer {
  position: relative;
  margin: 20px 0px;
  width: 100%;
  height: 150px;
}
#Game #ChickensContainer::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(-100%);
  width: 100%;
  height: 30px;
  background-color: #333;
  /* 350 */
}
@media (max-width: 1300px) {
  #Game #ChickensContainer::before {
    bottom: 40px;
  }
}
#Game #ChickensContainer::before {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  #Game #ChickensContainer::before {
    bottom: 20px;
  }
}
#Game #ChickensContainer .chicken {
  position: absolute;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  transform: translateX(-50%);
}
#Game #ChickensContainer .chicken:nth-of-type(1) {
  left: 25%;
}
#Game #ChickensContainer .chicken:nth-of-type(2) {
  left: 50%;
}
#Game #ChickensContainer .chicken:nth-of-type(3) {
  left: 75%;
}
#Game #ChickensContainer .chicken img {
  position: relative;
  width: 120px;
  z-index: 2;
  /* 350 */
}
@media (max-width: 1300px) {
  #Game #ChickensContainer .chicken img {
    width: 70px;
  }
}
#Game #ChickensContainer .chicken img {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  #Game #ChickensContainer .chicken img {
    width: 100px;
  }
}
#Game #ChickensContainer .chicken i {
  position: absolute;
  top: 50%;
  right: initial;
  bottom: initial;
  left: 50%;
  z-index: initial;
  transform: translate(-50%, -50%);
}
#Game #GamePopup {
  position: absolute;
  top: 0%;
  right: initial;
  bottom: initial;
  left: 0%;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#Game #GamePopup .popup-content {
  position: absolute;
  top: 50%;
  right: initial;
  bottom: initial;
  left: 50%;
  z-index: initial;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #fff;
  width: 280px;
  padding: 20px 0px;
  border-radius: 10px;
}
#Game #GamePopup .popup-content h2 {
  font-size: 30px;
  color: #fff;
}
#Game #GamePopup .popup-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  font-size: 18px;
  color: #fff;
}
#Game #GamePopup .popup-content p span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  background-color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: bold;
}
#Game #Basket {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 20%;
  left: 0%;
  z-index: 2;
  width: fit-content;
}
#Game #Basket img {
  width: 180px;
  /* 350 */
}
@media (max-width: 1300px) {
  #Game #Basket img {
    width: 100px;
  }
}
#Game #Basket img {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  #Game #Basket img {
    width: 130px;
  }
}
#Game #Basket span {
  position: absolute;
  top: 80%;
  right: initial;
  bottom: initial;
  left: 50%;
  z-index: initial;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #000;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: bold;
  /* 350 */
}
@media (max-width: 1300px) {
  #Game #Basket span {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
#Game #BrokenEggContainer {
  position: absolute;
  top: initial;
  right: initial;
  bottom: -25px;
  left: 0%;
  z-index: 3;
  width: 100%;
  height: 150px;
}
#Game #BrokenEggContainer .brokenEgg {
  position: absolute;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: initial;
  transform: translateX(-50%);
  display: none;
}
#Game #BrokenEggContainer .brokenEgg:nth-of-type(1) {
  left: 25%;
}
#Game #BrokenEggContainer .brokenEgg:nth-of-type(2) {
  left: 50%;
}
#Game #BrokenEggContainer .brokenEgg:nth-of-type(3) {
  left: 75%;
}
#Game #BrokenEggContainer .brokenEgg img {
  width: 90px;
  /* 350 */
}
@media (max-width: 1300px) {
  #Game #BrokenEggContainer .brokenEgg img {
    width: 50px;
  }
}
#Game #BrokenEggContainer .brokenEgg img {
  /* 850 */
}
@media (min-width: 769px) and (max-width: 1300px) {
  #Game #BrokenEggContainer .brokenEgg img {
    width: 70px;
  }
}
#Game footer {
  position: absolute;
  top: initial;
  right: initial;
  bottom: 0%;
  left: 0%;
  z-index: initial;
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
